h1 {
  font-weight: bold;
  font-size: 80pt;
  color: white;
  font-family: 'Limelight', cursive;
}
p {
  font-size: 25;
  color: #e7e4cc;
}
body {
  background-color: #bc9b4e;
}
a {
  color: #d3cea8;
}
a:hover {
  color: white;
}
img
{
    box-shadow: 0px 0px 5px #000;
}
